*{
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy ;
}
html,body{
    height:100% ;
    width:100% ;
}
body{
    background-color: black;
}
#string{
    height:160px ;
    width:100% ;
    background-color: rgb(0, 0, 0);
}
sv{
    background-color: aqua;
}